body {
    font-family: sans-serif;
    margin: 2rem;
}
button {
    list-style: none    ;
    margin: 1rem 0 0 0  ;
    padding: 0;
}

a{
    text-decoration: none;
    color: #000000;
}

menulist {
    display: none;
}
menulist.show {
    display: block;
}