body {
  margin: 0;
  font-family: Arial, sans serif;
  background: whitesmoke;
}

header {
  background-color: darkcyan;
  color: white;
  padding: 0.3rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

aside {
  width: 20%;
  border-radius: 8px;
  border: 1px solid black;
  height: fit-content;
}