body {
    background: radial-gradient(circle, #d4e2e2, #6b919199);
    color: darkgreen;
}
#container {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    justify-content: center;
    justify-items: center;
}
section.box {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    background-color: #f0f8ffcc;
    max-width: 200px;
    text-align: center;
    align-items: center;
}
img {
    max-width: 150px;
    height: auto;
    border-radius: 40%;
}
button {
    padding: 8px 16px;
    background-color: #006600;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: auto;
}
section.box:hover {
    transform: scale(1.03);
    transition: 0.2s;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

@media (min-width: 600px) {
    #container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1020px) {
    #container {
        grid-template-columns: repeat(3, 1fr);
    }
}