body {
    background: radial-gradient(circle, #d4e2e2, #6b919199);
    color: darkgreen;
}
#container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    justify-content: center;
    justify-items: center;
}
section.box {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    background-color: #f0f8ffcc;
    max-width: 200px;
    text-align: center;
    align-items: center;
}
img {
    max-width: 150px;
    height: auto;   
}

/* //Centrerar bilderna i boxarna */
/* .box img {
    display:block;
    margin: 0 auto;
} */
