html{
height: 100%;
}

body {
    background: linear-gradient(45deg,#4aaecf, #edeed9, #153291);
}

#citySearch{
    display: grid;
    flex-direction: block;
    justify-content: center;
    margin-top: 100px;
}
#svar{
    background-color: white;
    text-align: center;
    border-radius: 20px solid black;
}

input{
    border-radius: 10px;
    text-align: center;
    height:20px;
}

button{
    border-radius: 10px;
    text-align: center;
    width: 30px;
    text-align: center;
    padding:0;
    left:50%;
    
}