html{
height: 100%;
width: 100%;
}

body {
    background: linear-gradient(45deg,#4aaecf, #edeed9, #153291);
}

#citySearch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

input{
    border-radius: 10px;
    text-align: center;
    height:20px;
    width: 200px;
    top:50%;
    left:50%;
    padding:0;
    position: relative;
    transform: translate(-50%,-50%);
}

button{
    border-radius: 10px;
    text-align: center;
    width: 30px;
    padding:0;
    position: relative;
    left:50%;
    justify-content: center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
#svar{
    background-color: white;
    text-align: center;
    border:2px solid grey;
    border-radius: 20px;
    margin-top: 30px;
    width: 60%;
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
}